* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

#grained {
    /* Fill the whole screen */
    position: fixed !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    z-index: 100;
    pointer-events: none;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 16px;
    overflow: hidden;
    background-color: #1d1d1d;
    border-radius: 0 0 1.25rem 1.25rem;

    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: .625rem 1.25rem;
    text-decoration: none;
    border: 1px solid #1d1d1d;
    transition: all 0.3s ease-in-out;
    border-radius: 1.25rem;



}

li a:hover {
    border-radius: 1.25rem;
    border: 1px solid #666666;
    background-color: #252525;

}

h1,
h2 {
    color: #333;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    /* text-transform: uppercase; */
}

.gal-imgs-ctn {
    /* Add a relative position so that the image can be positioned absolutely */
    position: relative;
    /* Make it responsive */
    width: 100%;
    max-width: 300px;
    /* Set height equal to width to maintain a 1:1 aspect ratio */
    height: 0;
    padding-bottom: 100%;
}

.gal-imgs-ctn img {
    /* Position the image absolutely within its parent element */
    position: absolute;
    top: 0;
    left: 0;
    /* Make it responsive */
    width: 100%;
    height: 100%;
    max-height: 300px;
    object-fit: cover;

    padding: 1rem;
    box-sizing: border-box;
}

/* ---- */




main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    padding: 0rem 3rem 0 3rem;

    margin-top: 3rem;
}

.nav {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    backdrop-filter: blur(50px);

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    gap: 3rem;

    padding: 1rem 5rem 1rem 5rem;
    /* Smooth Shadow for Nav Bar */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
}

.nav section ul {
    display: flex;
    gap: 3rem;
}

.nav section ul li a {
    text-decoration: none;
    color: black;
}

.nav section ul li a:hover {
    color: #ffc107;
    text-decoration: underline;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;

    text-align: center;
    align-items: center;

    border-radius: 1rem;
    /* box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px; */
    width: 100%;
    height: min-content;
    /* min-width: 380px; */
    gap: 1rem;
    /* height: max-content; */

    background-color: #1d1d1d;
    padding: 2rem;
}

.about-col-1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 1rem;
    gap: 0.5rem;
}

.about-header {
    text-align: left;
    font-size: 3rem;
    font-weight: 600;
    color: white;

    line-height: 1;

    margin-bottom: 1rem;

    /* Transition opacity from 0 to 1 */
    animation: fadeIn 1s ease-in-out;
}

/* Here is the explanation for the code above:
1. We use the @keyframes rule to create our animation.
2. The animation is called "fadeIn" and it will last for 1 second.
3. The animation starts at 0% opacity and ends at 100% opacity. */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.about-paragraph {
    text-align: left;
    font-size: 1rem;
    max-width: 25rem;
    color: rgb(131, 131, 131);

    margin-bottom: 2rem;
}

.me-image {
    height: 450px;
    width: 100%;
    object-fit: cover;

    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.nav-links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 18px;
}

.wave-emoji {
    font-size: 5rem;
    font-weight: 800;
    color: #00bcd4;
    margin-bottom: 1rem;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: .75rem;
    margin-top: 1rem;

    gap: 0.5rem;

    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.fb-icon-name:hover {
    color: #ffc107;
    text-decoration: underline;
}

.gg-facebook {
    margin-right: 0.1rem;
}

span {
    font-weight: 700;
    color: black;
}

.about-me-header,
.technical-knowledge-header,
.content-header {
    font-weight: 800;
    font-size: 80px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-me-paragraph,
.technical-knowledge-paragraph {
    font-weight: 300;
    max-width: 600px;
    padding: 1rem;
    text-align: left;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: #000000;
    color: white;
}

.social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.about-me-wrapper {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 3rem;
}


#grained {
    /* Fill the whole screen */
    position: fixed !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    z-index: 100;
    pointer-events: none;
}

.tk-card {
    background-color: rgb(255, 255, 255);
    /* Smooth Shadow */
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.01), 0 4px 8px rgba(0, 0, 0, 0.01),
        0 16px 24px rgba(0, 0, 0, 0.034), 0 24px 32px rgba(0, 0, 0, 0.01);

    border-radius: 30px;
    max-width: 100%;
    /* height: 500px; */

    padding: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0.5rem;

    cursor: pointer;
    z-index: -1;
}

.card-body h3 {
    font-size: 30px;
    font-weight: 800;
    margin: 1rem 0;
}

.ti {
    font-size: 100px;
    opacity: 0.5;
    transition: 0.2s ease-in-out;
}

.card-body h3 {
    opacity: 0.5;
}

/* If tk-card is hovered make .card-body and .ti opacity to 1 */
.tk-card:hover .card-body h3,
.tk-card:hover .ti {
    opacity: 1;
}

.technical-knowledge-wrapper {
    display: grid;
    /* Make it responsive grid with 3 columns */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    justify-content: stretch;
}

.main-tk {
    margin-bottom: 3rem;
    padding-inline: 5rem;
}

.gallery-grid-wrapper {
    /* this is a grid with 3 column  */
    display: grid;
    grid-template-columns: repeat(2, minmax(450px, 1fr));
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    justify-items: center;

}

.gallery-grid-wrapper img {
    height: 450px;
    width: 450px;
    object-fit: cover;

    border-radius: 3rem;
    /* Smooth Shadow */
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.01),
        0 16px 24px rgba(0, 0, 0, 0.034), 0 24px 32px rgba(0, 0, 0, 0.01);

}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
}